/*font styles*/
body {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
h1,
h2,
h3,
p,
i {
  color: #BCBFB7;
}
.temp_text {
  font-size: 2em;
}
.new_class {
  
}
/* div and wrapper styles*/

#background_wrapper {
   padding-top: 0px;
   margin-top: -20px;
   height: 100vh;
}
#city_display,
#current_temperature,
#wind_display {
  color: darkblue;
  font-size: 1.4em;
  font-weight: 500;
}
.center-container {
  text-align: center;
}
#update {
  height: 5em;
}

#forecast_container {
  height: 15em;
  display: flex;
  justify-content: center;
}
.future_forecast  {
  height: 6em;
  width: 6em;
  flex-basis: 25%;
}
#temp_scale_button {
  border: none;
  transition: background-color 0.3s ease;
  background-color: white;
  padding: .8em 2em;
  border-radius: 8px;
}
#temp_scale_button:hover {
  background-color: #F0F0F0;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#github_icon {
  margin-left: 3px;
}
